{% extends 'base.html' %} 

{% load static %}

{% block content %}

<style>
    .add_product{

        background-color: #ffffff; /* Background color of the card */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
        position: relative;
        top: 50%;
        left: 35%;
        transform: translate(-20%, 20%);

    }

</style>
<link href='https://fonts.googleapis.com/css?family=Dela Gothic One' rel='stylesheet'>

<div class="add_product card" style="width: 50rem;">
    <div class="card-header" style="font-family: 'Dela Gothic One';font-size: 22px;">
      InventLaris
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Add New Product</h5>
      

    <form method="POST" action="" class="card-body" value="add_product">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">Name</label>
            <input type ="text" name="name" class="form-control" id="id_name" placeholder="Enter Product Name">
        </div>
        <div class="mb-3">
            <label for="id_price" class="form-label">Price</label>
            <input type="number" class="form-control" name="price" id="id_price" placeholder="Enter Product Price">
        </div>
        <div class="mb-3">
            <label for="id_description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="id_description" rows="3" ></textarea>
        </div>
        <div class="mb-3">
            <label for="id_amount" class="form-label">Amount</label>
            <input type="number" class="form-control" name="amount" id="id_amount" placeholder="Enter Product Amount" >
        </div>
        <div class="mb-3">
            <label for="id_amount" class="form-label">Is Discount?</label>
            <input type="radio" class="form-control" name="is_discount" id="id_discount" value="true" >
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-primary" type="submit">Add New Product</button>
        </div>

    </form>
    </div>
  </div> 




{% endblock %}


