{% extends 'base.html' %}



{% block content %}

<style>
    .login{

        background-color: #ffffff; /* Background color of the card */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */

        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);

    }


</style>


<div class="login card text-center" style="width: 20rem;">
    <div class="card-header">
      InventLaris
    </div>
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <p class="card-text">Don't have an account? <a href="{% url 'main:register' %}">Register Now</a></p>

      <form method="POST" action="" class="card-body">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>



            {% if messages %}
            <tr>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </tr>
            {% endif %}   
        </table>
        <br>
        <button type="submit" class="btn btn-outline-primary" value='login'>Login</button>
    </form>
    </div>
  </div>   

{% endblock content %}