{% extends 'base.html' %}

{% block content %}



<!DOCTYPE html>
<html lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Dela Gothic One' rel='stylesheet'>
  <meta charset="UTF-8">
  <title>{{ app_name }}</title>

  <!-- Navbar -->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
          <path
            d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z" />
        </svg>
        <h4 style="font-family: 'Dela Gothic One';font-size: 22px;">InventLaris</h4>
      </a>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <p>Last login: {{ last_login }}</p>
        </li>
        <li class="nav-item">

          <a class="nav-link active" href="{% url 'main:logout' %}">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-outline-primary" type="submit">Logout</button>
            </div>
          </a>
        </li>

      </ul>
    </div>
</head>

<body>

  <div class="table card text-center item-center justify-center">
    <div class="card-header" style="font-family: 'Dela Gothic One';font-size: 22px;">
      InventLaris Table
    </div>
    <div class="card-body">

      <table class='table' id="product_table"></table>

      <!-- <table class="table" id="'product_table">

        {% for product in products %}
        <tbody>
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_added }}</td>
            <td>
              <div class="btn-group" aria-label="Basic mixed styles example">
                <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'main:delete_product' product.pk %}" class="btn btn-primary">Delete</a>
              </div>

            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table> -->

      <p>You have {{  product_count }} item on your InventLaris</p>

      <a href="{% url 'main:create_product' %}">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button">Add New Product</button>
        </div>
      </a>

      <button type="button" class="btn btn-success btn-sm float-right" data-bs-toggle="modal"
        data-bs-target="#addProductModal">
        Add Item - Ajax
      </button>


    </div>
  </div>


</body>

<!-- Modal -->
<div class="modal" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addDataModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form" onsubmit="return false;">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name"></input>
          </div>
          <div class="mb-3">
            <label for="price" class="col-form-label">Price:</label>
            <input type="number" class="form-control" id="price" name="price"></input>
          </div>
          <div class="mb-3">
            <label for="amount" class="col-form-label">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount"></input>
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add
          Product</button>

      </div>
    </div>
  </div>
</div>



<br>


</html>



<script>
  $("#addProductModal").prependTo("body");

  async function getProducts() {
    return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
  }

  async function getdiscount() {
    return fetch("{% url 'main:get_discount_json' %}").then((res) => res.json())
  }
  async function getNotdiscount() {
    return fetch("{% url 'main:get_notdiscount_json' %}").then((res) => res.json())
  }

  async function refreshProducts() {
    document.getElementById("product_table").innerHTML = ""
    const discount_products = await getdiscount()
    const notdiscount_products = await getNotdiscount()
    let htmlString = `<tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>            
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Date Added</th>
            <th scope="col">Manipulate Data</th>
          </tr>`
          

    discount_products.forEach((item) => {
      htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.amount}              
              <div class="btn-group" aria-label="Basic mixed styles example">
                <a href="/increment/${item.pk}" class="btn btn-primary btn-sm">+</a>
                <a href="/decrement/${item.pk}" class="btn btn-primary btn-sm">-</a>
              </div>
            </td>
            <td>${item.fields.date_added}</td>
            <td>
              <div class="btn-group" aria-label="Basic mixed styles example">
                <a href="/edit-product/${item.pk}" class="btn btn-primary">Edit</a>
                <a href="/delete/${item.pk}" class="btn btn-primary">Delete</a>
              </div>

            </td>
        </tr>`
    })

    notdiscount_products.forEach((item) => {
      htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.amount}              
              <div class="btn-group" aria-label="Basic mixed styles example">
                <a href="/increment/${item.pk}" class="btn btn-primary btn-sm">+</a>
                <a href="/decrement/${item.pk}" class="btn btn-primary btn-sm">-</a>
              </div>
            </td>
            <td>${item.fields.date_added}</td>
            <td>
              <div class="btn-group" aria-label="Basic mixed styles example">
                <a href="/edit-product/${item.pk}" class="btn btn-primary">Edit</a>
                <a href="/delete/${item.pk}" class="btn btn-primary">Delete</a>
              </div>

            </td>
        </tr>`
    })

    document.getElementById("product_table").innerHTML = htmlString
  }

  refreshProducts()


  function addProduct() {
    fetch("{% url 'main:add_product_ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#form'))
    }).then(refreshProducts)

    document.getElementById("form").reset()
    return false
  }

  document.getElementById("button_add").onclick = addProduct

  function increment(){
    let product = getProducts()
    
  }

</script>




{% endblock content %}